Repository meta-introspector/zos-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-json, no-binaries, shellcheck, cargo-check, rust-fmt, rust-clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: trailing-whitespace
        name: trim trailing whitespace
        entry: bash -c 'for file in "$@"; do sed -i "s/[[:space:]]*$//" "$file"; done'
        language: system
        types: [text]

      - id: check-json
        name: check json
        entry: bash -c 'for file in "$@"; do python3 -c "import json; json.load(open(\"$file\"))" || exit 1; done'
        language: system
        files: \.json$

      - id: no-binaries
        name: prevent binary files
        entry: bash
        args: ['-c', 'for file in "$@"; do head -c 16 "$file" | xxd -p | grep -qE "^(7f454c46|4d5a|feedface|cefaedfe|cafebabe)" && echo "❌ Binary executable detected: $file" && exit 1; done; exit 0', '--']
        language: system
        exclude: '\.(png|jpg|jpeg|gif|ico|pdf|zip|tar|gz|bz2)$'

      - id: shellcheck
        name: shellcheck
        entry: bash -c 'if ! command -v shellcheck >/dev/null 2>&1; then echo "❌ shellcheck is required but not installed"; exit 1; elif [ "$#" -eq 0 ]; then echo "⚠️  no shell files to check"; else shellcheck --severity=warning "$@"; fi'
        language: system
        files: \.sh$

      - id: cargo-check
        name: cargo check (offline)
        entry: bash -c 'RUSTC_BOOTSTRAP=1 CARGO_NET_OFFLINE=true cargo check --all-features --offline'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: rust-fmt
        name: rust fmt (offline)
        entry: bash -c 'RUSTC_BOOTSTRAP=1 cargo fmt --all'
        language: system
        files: \.rs$
        pass_filenames: false

      - id: rust-clippy
        name: rust clippy (offline)
        entry: bash -c 'RUSTC_BOOTSTRAP=1 CARGO_NET_OFFLINE=true cargo clippy --all-targets --all-features --offline'
        language: system
        files: \.rs$
        pass_filenames: false

Fix unused imports and format
  Cargo.lock
  Cargo.toml
  src/automorphic_compiler.rs
  src/binary_classifier.rs
  src/cache.rs
  src/cargo2plugin_loader.rs
  src/cicd_dashboard.rs
  src/client_telemetry.rs
  src/code_transformation_graph.rs
  src/convergence_analyzer.rs
  src/dual_model_prover.rs
  src/git_analyzer.rs
  src/iree_kleene_backend.rs
  src/kleene_detector.rs
  src/kleene_memory.rs
  src/lean4_foundation.rs
  src/lib.rs
  src/meta_fixed_point.rs
  src/modular_form_spec.rs
  src/nidex_builder.rs
  src/nvidia_kleene.rs
  src/p2p_rustc_loader.rs
  src/plantation_filter.rs
  src/plugin_registry.rs
  src/process_monitor.rs
  src/project_watcher.rs
  src/self_bootstrap_system.rs
  src/static_server.rs
  src/telemetry.rs
  src/value_lattice_processor.rs
  src/web.rs
  src/zos_api.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

Add manifest API and content-addressed store
  .cargo/config.toml
  default.nix
  run-from-store.sh
  src/block_collector_plugin.rs
  src/block_routes.rs
  src/client_telemetry.rs
  src/lib.rs
  src/manifest.rs
  src/plugin_manager.rs
  test_plugin_system.sh
  www/app.html
  www/index.html
  www/manifest.json
  www/store/3d018270f523cb3becd67ebfff95d1da-solana-p2p-plugin/manifest.json
  www/store/3d018270f523cb3becd67ebfff95d1da-solana-p2p-plugin/solana_p2p_plugin.js
  www/store/3d018270f523cb3becd67ebfff95d1da-solana-p2p-plugin/solana_p2p_plugin_bg.wasm
  www/store/latest-solana-p2p
  www/test.html
Due: check-json, no-binaries, shellcheck, cargo-check, rust-fmt, rust-clippy

Ignore generated artifacts
  .gitignore
Due: no-binaries

Ignore chat history databases
  .gitignore
Due: no-binaries

feat: ready sync peer convergence for PR
  CHANGELOG.md
  COMPACTIFIED_CONTEXT.md
  Cargo.lock
  Cargo.toml
  README.md
  TODO.md
  crates/zos-experimental/src/node_coordinator.rs
  docs/README.md
  docs/sync_convergence_architecture.md
  scripts/smoke_two_peer_sync.sh
  src/extra_plugins/libp2p_c_interface.rs
  src/lib.rs
  src/main.rs
  src/node_coordinator.rs
  src/sync_transport.rs
  zos-libp2p/src/server.rs
Due: no-binaries, shellcheck, cargo-check, rust-fmt, rust-clippy

fix: make zos-libp2p testable again
  Cargo.lock
  zos-libp2p/Cargo.toml
  zos-libp2p/src/lib.rs
  zos-libp2p/src/server.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

kagenti: nix CI + Makefile + flake.nix + ONBOARDING.md
  .github/workflows/ci.yml
  Makefile
  ONBOARDING.md
Due: no-binaries

feat: add eRDFa ZOS plugins — maass, cft, sheaf (9 commands)
  src/extra_plugins/erdfa_plugins.rs
  src/extra_plugins/mod.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

feature/social-plugins: 5 ZOS social plugins as optional git deps
  Cargo.lock
  Cargo.toml
  docs/CRQ-ERDFA-001.md
  docs/CRQ-SOCIAL-001.md
  docs/CRQ-ZOS-001.md
  docs/CRQ-ZOS-002.md
  docs/split-log.md
  scripts/split-erdfa-zkperf.sh
  scripts/split-kagenti-services.sh
  scripts/split-social-plugins.sh
  scripts/split-spinoffs.sh
  src/main.rs
Due: no-binaries, shellcheck, cargo-check, rust-fmt, rust-clippy

batch: seal plugin, pre-commit nix, paste-* tracked, flake packages
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  flake.nix
  paste-api/Cargo.toml
  paste-api/src/lib.rs
  paste-browse/Cargo.toml
  paste-browse/src/lib.rs
  paste-fuzz/Cargo.toml
  paste-fuzz/src/lib.rs
  paste-gallery/Cargo.toml
  paste-gallery/src/lib.rs
  paste-home/Cargo.toml
  paste-home/src/lib.rs
  paste-preview/Cargo.toml
  paste-preview/src/lib.rs
  paste-qr/Cargo.toml
  paste-qr/src/lib.rs
  paste-rdfa/Cargo.toml
  paste-rdfa/src/lib.rs
  paste-reply/Cargo.toml
  paste-reply/src/lib.rs
  paste-splitter/Cargo.toml
  paste-splitter/src/lib.rs
  paste-stego/Cargo.toml
  paste-stego/src/lib.rs
  paste-zkperf/Cargo.toml
  paste-zkperf/src/lib.rs
  src/lib.rs
  src/minimal_server_plugin.rs
  src/plugin_loader.rs
  src/plugins/core_plugins/mod.rs
  src/plugins/core_plugins/seal_plugin.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

Add mesh-sync-rs compatibility shim
  README.md
  src/minimal_server_plugin.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

security: pin all git plugin deps to specific revisions
  Cargo.toml
Due: no-binaries

seal plugin: thin wrapper, delegates to external erdfa-seal .so
  src/plugins/core_plugins/mod.rs
  src/plugins/core_plugins/seal_plugin.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

security: exclude sensitive dotfiles from split-spinoffs copy
  scripts/split-spinoffs.sh
Due: no-binaries, shellcheck

feat: add /setup onboarding wizard, simplify pre-commit hooks
  .pre-commit-config.yaml
  src/minimal_server_plugin.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

feat: add /setup onboarding wizard + nix build + Makefile
  Makefile
  flake.nix
  zos-minimal-server/src/main.rs
Due: no-binaries, cargo-check, rust-fmt, rust-clippy

Align docs with SL/ZOS boundary
  CHANGELOG.md
  COMPACTIFIED_CONTEXT.md
  README.md
  TODO.md
  docs/README.md
Due: no-binaries
