Repository meta-introspector/zos-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check, cargo-test, lattice-validation

cargo-check:
  name: cargo check
  entry: cargo check --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --all-features
  language: system
  pass_filenames: false

lattice-validation:
  name: validate lattice system
  entry: bash -c 'if [ -f "lattice-analyzer.sh" ]; then echo "âœ… Lattice analyzer present"; fi'
  language: system
  pass_filenames: false

Fix pre-commit hooks - remove infinite loop auto-commit
  .pre-commit-config.yaml
Due: none

Add comprehensive enterprise services roadmap
  README.md
Due: none

🚀 Add GitHub Pages documentation site
  .github/workflows/docs.yml
  docs/README.md
  docs/style.css
  libtest_valid.rmeta
Due: none

🤖 Add LLM-Compiler feedback loop service
  src/lib.rs
  src/llm_compiler_service.rs
  src/main.rs
Due: cargo-check, cargo-test

🔄 Add task sharing and verification system
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/llm_compiler_service.rs
  src/main.rs
  src/task_registry.rs
Due: cargo-check, cargo-test

🎛️ Add multi-modal task execution system
  src/lib.rs
  src/main.rs
  src/task_modes.rs
Due: cargo-check, cargo-test

🔧 Fix GitHub Actions build workflow
  .github/workflows/build.yml
  monitor-actions.sh
Due: lattice-validation

🚀 Add simplified GitHub Actions workflow
  .github/workflows/simple-build.yml
Due: none

🔧 Add GitHub Actions troubleshooting and minimal test
  .github/workflows/minimal-test.yml
  GITHUB_ACTIONS_TROUBLESHOOTING.md
Due: none

🔧 Fix GitHub Actions - remove external action dependencies
  .github/workflows/build.yml
  .github/workflows/docs.yml
  .github/workflows/minimal-test.yml
  .github/workflows/no-external-actions.yml
  .github/workflows/simple-build.yml
Due: none

🦀 Add comprehensive Rust compiler flag lattice system
  generate_flag_lattice.py
  generate_rustc_lattice.sh
  lattice_test_results/L0.0.0.0_all-plugins_dev.result
  lattice_test_results/L0.0.0.0_core-only_dev.result
  lattice_test_results/L0.0.0.0_default_dev.result
  lattice_test_results/L0.0.0.0_extra-plugins_dev.result
  lattice_test_results/L0.0.0.0_self-build_dev.result
  lattice_test_results/L0.0.0.1_all-plugins_dev.result
  lattice_test_results/L0.0.0.1_core-only_dev.result
  lattice_test_results/L0.0.0.1_default_dev.result
  lattice_test_results/L0.0.0.1_extra-plugins_dev.result
  lattice_test_results/L0.0.0.1_self-build_dev.result
  lattice_test_results/summary.md
  rustc_codegen_help.txt
  rustc_flag_lattice.json
  rustc_help.txt
  rustc_unstable_help.txt
  test_flag_lattice.sh
Due: lattice-validation

🧪 Add GitHub Actions lattice testing with archival
  .github/workflows/lattice-test.yml
  incremental_lattice_test.sh
  lattice_test_results/L0.0.0.2_all-plugins_dev.result
  lattice_test_results/L0.0.0.2_core-only_dev.result
  lattice_test_results/L0.0.0.2_default_dev.result
  lattice_test_results/L0.0.0.2_extra-plugins_dev.result
  lattice_test_results/L0.0.0.2_self-build_dev.result
  lattice_test_results/L0.0.1.0_all-plugins_dev.result
  lattice_test_results/L0.0.1.0_default_dev.result
  lattice_test_results/summary.md
  test_flag_lattice.sh
Due: lattice-validation

🧠 Add intelligent lattice slicer with libp2p coordination
  .github/workflows/lattice-test.yml
  intelligent_slicer.py
Due: none

refactor of the dirs
  crates/zos-auto-label/Cargo.toml
  crates/zos-auto-label/src/auto_label_system.rs
  crates/zos-auto-label/src/codebase_analyzer.rs
  crates/zos-auto-label/src/lib.rs
  crates/zos-biosemiotic/src/biosemiotic_payment.rs
  crates/zos-eigenmatrix/src/eigenmatrix_compression.rs
  crates/zos-eigenmatrix/src/lock_eigenmatrix.rs
  crates/zos-eigenmatrix/src/lock_of_rust.rs
  crates/zos-godel/src/proof_of_neo.rs
  crates/zos-godel/src/rust_godel_universe.rs
  crates/zos-metameme/src/metameme_coin.rs
  crates/zos-monsters/src/monster_symmetry_breaking.rs
  crates/zos-monsters/src/shattered_message.rs
  crates/zos-orbitals/src/minimal_viable_orbit.rs
  crates/zos-orbitals/src/solana_orbital_transactions.rs
  crates/zos-prime-flags/src/flag_of_prime_71.rs
  crates/zos-prime-flags/src/gandalf_prime_71.rs
  crates/zos-protocols/src/protocol_exports.rs
  crates/zos-protocols/src/verb_export.rs
  src/core_macros.rs
  src/lib_old.rs
  src/main_macro.rs
  src/main_old.rs
Due: cargo-check, cargo-test

feat: cross-platform deployment system
  .github/workflows/build-release.yml
  Cargo.lock
  Cargo.toml
  accounts/solfunmeme/instances/instance-1/deployment.json
  accounts/solfunmeme/instances/instance-1/join-network.sh
  accounts/solfunmeme/instances/instance-1/network.toml
  accounts/solfunmeme/instances/instance-1/peer_identity.json
  accounts/solfunmeme/network.toml
  bootstrap-network.sh
  cross-compile.sh
  generate-instance.sh
  install-windows.sh
  save-keys.sh
  zos-deploy/Cargo.toml
  zos-deploy/src/main.rs
  zos-plan/Cargo.toml
  zos-plan/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

fix: Apply cargo fmt and resolve lint errors
  Cargo.lock
  Cargo.toml
  debug-build.sh
  deploy-zos-oracle.sh
  templates/oracle-zos-instance/.terraform.lock.hcl
  templates/oracle-zos-instance/main.tf
  templates/oracle-zos-instance/terraform.tfvars
  templates/oracle-zos-instance/zos-boot-script.sh
  zos-analysis/Cargo.toml
  zos-analysis/src/lib.rs
  zos-bootstrap/Cargo.toml
  zos-bootstrap/src/lib.rs
  zos-libp2p/Cargo.toml
  zos-libp2p/src/lib.rs
  zos-libp2p/src/server.rs
  zos-oci/Cargo.toml
  zos-oci/src/lib.rs
  zos-oracle/Cargo.toml
  zos-oracle/src/ai_marketplace.rs
  zos-oracle/src/block_port_manager.rs
  zos-oracle/src/dev_workflow.rs
  zos-oracle/src/lib.rs
  zos-oracle/src/libp2p_verbs.rs
  zos-oracle/src/plugin_loader.rs
  zos-oracle/src/ranking_system.rs
  zos-oracle/src/user_dashboard.rs
  zos-oracle/src/user_fingerprint.rs
  zos-oracle/src/wallet_auth.rs
  zos-plugins/Cargo.toml
  zos-plugins/src/lib.rs
Due: cargo-check, cargo-test, lattice-validation

Add ZOS source distribution system with curl installer
  CROSS_PLATFORM.md
  Cargo.lock
  build-android.sh
  build-cross-platform.sh
  default.nix
  deploy-local-systemd.sh
  deploy-native-builds.md
  deploy-native.sh
  deploy-network.sh
  deploy-nix-zos.sh
  deploy-zos1-nightly.sh
  deploy-zos2-via-zos1.sh
  flake.nix
  install-from-node.sh
  quick-install.sh
  setup-cross-compilation.sh
  shell.nix
  start-zos-android.sh
  test-endpoints.sh
  update-zos1-nix.sh
  zos-minimal-server/Cargo.toml
  zos-minimal-server/src/main.rs
  zos-service.nix
Due: cargo-check, cargo-test, lattice-validation

Fix tarball creation to use clean git checkout
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add git CI/CD system with webhooks and polling
  deploy-git-network.sh
  test-git-cicd.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Remove Cargo.lock deletion from installer
  install-from-node.sh
  test-git-repos.sh
  test-log-management.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Add branch-specific installer support
  deploy-dual-servers.sh
  install-from-node.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Add comprehensive version reporting and error handling
  install-from-node.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Change installer default branch to main
  install-from-node.sh
Due: lattice-validation

Add HTTP access logging and client tracking (WIP)
  Cargo.lock
  zos-minimal-server/Cargo.toml
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Fix installer to update existing git repos instead of removing
  install-from-node.sh
Due: lattice-validation

Fix shellcheck issues in installer
  install-from-node.sh
Due: lattice-validation

Add complete CI/CD pipeline for ZOS deployment
  deploy-pipeline.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Add comprehensive git info to health endpoint
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add self-bootstrapping deployment system
  bootstrap-zos.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Fix shellcheck issues in main scripts
  deploy-pipeline.sh
  install-from-node.sh
Due: lattice-validation

Add shellcheck to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add hot-swap deployment and environment tracking
  boot-zos-instances.sh
  create-zos-instance.sh
  daisy-chain-deploy.sh
  setup-zos-instance.sh
  test-hot-swap.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Fix compiler warnings
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add resource tracing system
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add standalone server to default.nix and fix ResourceTracer visibility
  default.nix
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add standalone server to root build and fix all warnings
  Cargo.lock
  Cargo.toml
  build.rs
  src/lib.rs
  src/main.rs
Due: cargo-check, cargo-test

Add secure daisy chain deployment with dedicated users
  update-prod.sh
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test, lattice-validation

Path conditions:
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  lattice-validation: any of: \.sh$
