Repository meta-introspector/zos-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, cargo-check, cargo-test, lattice-validation

shellcheck:
  name: shellcheck
  entry: bash -c 'if command -v shellcheck >/dev/null 2>&1; then shellcheck --severity=warning "$@"; else echo "⚠️  shellcheck not available, skipping"; fi'
  language: system

cargo-check:
  name: cargo check
  entry: cargo check --all-features
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: cargo test --all-features
  language: system
  pass_filenames: false

lattice-validation:
  name: validate lattice system
  entry: bash -c 'if [ -f "lattice-analyzer.sh" ]; then echo "✅ Lattice analyzer present"; fi'
  language: system
  pass_filenames: false

Update CI/CD pipeline documentation and test paths
  .pre-commit-config.yaml
  CHANGES.md
  PIPELINE.md
  README.md
  SCRIPTS_OVERVIEW.md
  test-cicd-pipeline.sh
  test-pipeline.sh
  update-prod.sh
  zos-minimal-server/src/main.rs
Due: shellcheck, cargo-check, cargo-test, lattice-validation

Fix CI/CD test script and pre-commit: fail if shellcheck missing
  .pre-commit-config.yaml
  test-cicd-pipeline.sh
Due: shellcheck, lattice-validation

Fix QA service installation: handle debug/release binaries and verify startup
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add git hash and binary hash verification with proper borrow handling
  test-quick-pipeline.sh
  zos-minimal-server/src/main.rs
Due: shellcheck, cargo-check, cargo-test, lattice-validation

Document hash verification system with current deployment hash 81038be
  CHANGES.md
  PIPELINE.md
Due: none

Add network-status command to show all ZOS servers
  Cargo.lock
  Cargo.toml
  zos-minimal-server/Cargo.toml
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add deploy-systemd command for automated systemd deployment
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add reproducible build configuration
  .cargo/config.toml
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add binary download and hash-verified installer system
  zos-minimal-server/src/main.rs
Due: cargo-check, cargo-test

Add self-installing QA service to installer
  test-self-install-qa.sh
  zos-minimal-server/src/main.rs
Due: shellcheck, cargo-check, cargo-test, lattice-validation

🚀 Complete ZOS Dashboard with User Management
  Cargo-workspace.toml
  Cargo.lock
  Cargo.toml
  build.rs.backup
  src/lib.rs
  src/main.rs
  src/minimal_server_plugin.rs
  src/plugins/minimal_server.rs
  src/plugins/mod.rs
  src/traits.rs
  src/traits/auth_plugin.rs
  src/traits/mod.rs
  src/zos_minimal_server.rs
  zos-config.toml
Due: cargo-check, cargo-test

feat: Add development server with hot reload and enhanced dashboard
  Cargo.lock
  Cargo.toml
  build-wasm.sh
  dashboard.html
  dev-server.sh
  dev.sh
  src/bin/zos-dev-server.rs
  src/main.rs
  src/minimal_server_plugin.rs
  src/traits.rs
  zos-dashboard-wasm/Cargo.toml
  zos-dashboard-wasm/src/lib.rs
Due: shellcheck, cargo-check, cargo-test, lattice-validation

🔄 Logarithmic Fold-Map-Reduce Compression to Unity
  examples/logarithmic_compression_demo.rs
  map_system_to_files.sh
  src/logarithmic_compressor.rs
Due: shellcheck, cargo-check, cargo-test, lattice-validation

🧩 Meta-Introspector Tycoon: Complete Demo System
  MetaIntrospectorCompression.lean
  byte_value_assigner.rs
  clifford_self_reference.rs
  contextual_eliminator.rs
  cuda_monster_gpu.rs
  dead_code_eliminator.rs
  dynamic_memory_bitmap.rs
  examples/LOGARITHMIC_COMPRESSION_PROOF.md
  examples/mass_orbit_calc.rs
  examples/orbit_calculator.rs
  fixed_point_71.rs
  lakefile.lean
  lean4_compression_proof.lean
  logarithmic_memory_map.rs
  markov_1_4m_analyzer.rs
  markov_1_4m_fast.rs
  meta-introspector-tycoon/Cargo.toml
  meta-introspector-tycoon/README.md
  meta-introspector-tycoon/config/wireguard/wg0-client-linux.conf
  meta-introspector-tycoon/config/wireguard/wg0-client-windows.conf
  meta-introspector-tycoon/config/wireguard/wg0-server.conf
  meta-introspector-tycoon/scripts/deploy-linux-server.sh
  meta-introspector-tycoon/scripts/deploy-oci-server.sh
  meta-introspector-tycoon/scripts/deploy-windows-client.ps1
  meta-introspector-tycoon/src/community_node.rs
  meta-introspector-tycoon/src/gpu_dashboard.rs
  meta-introspector-tycoon/src/main.rs
  raid_markov_analyzer.rs
  runtime_71_trace.rs
  self_aware_analyzer.rs
  self_aware_gpu.rs
  self_reading_goblin.rs
  simple_markov_analyzer.rs
  truncated_monster.rs
  verify_lean4_proof.sh
Due: shellcheck, cargo-check, cargo-test, lattice-validation

speed up
  .pre-commit-config.yaml
Due: none

Refactor web module - WIP
  src/lib.rs
  src/plugin_registry.rs
  src/process_monitor.rs
  src/web.rs
  src/web/handlers.rs
  src/web/handlers/dashboard.rs
  src/web/handlers/plugins.rs
Due: cargo-check, cargo-test

feat: Complete ZOS server with modular web handlers, CLI tools, and comprehensive analysis systems
  src/cicd_dashboard.rs
  src/git_analyzer.rs
  src/github_importer.rs
  src/lib.rs
  src/meta_introspector.rs
  src/value_lattice_manager.rs
  src/web.rs
  src/web/handlers.rs
  src/web/handlers/plugins.rs
  src/zos_api.rs
  zos-cli
  zos-service
Due: cargo-check, cargo-test

🔄 Bootstrap Singularity Framework: Towards Self-Analyzing Markov Compiler
  ABSOLUTE_ZERO_RUST.md
  AUTOMATED_BOOTSTRAP_SYSTEM.md
  Cargo.toml
  KETER_CRYSTAL_GROWTH.md
  MONSTER_GROUP_SYMMETRIES.md
  MONSTER_HYPOTHESIS.md
  VALUE_LATTICE_CRYSTALLIZATION.md
  create-repo-symlinks.sh
  gandalf_test.rs
  proof_test.rs
  setup-zos-user.sh
  src/code_transformation_graph.rs
  src/lib.rs
  src/main.rs
  src/process_monitor_component.rs
  src/project_watcher.rs
  src/project_watcher_old.rs
  src/repo_status_manager.rs
  src/self_bootstrap_system.rs
  src/telemetry.rs
  src/value_lattice_processor.rs
  src/web.rs
  src/web/handlers.rs
  src/web/handlers/plugins.rs
  src/web/handlers/plugins_old.rs
  src/web/handlers/process_monitor_plugin.rs
  src/web/handlers/value_lattice_plugin.rs
  src/zos_api.rs
  test-repo-status.rs
  test_file.rs
  test_lattice.rs
  test_lattice_extraction.rs
  zos-cli
Due: shellcheck, cargo-check, cargo-test, lattice-validation

Add all 75 Rust binaries to Cargo.toml
  Cargo.toml
Due: none

Convert test files to examples, fix Cargo.toml
  Cargo.toml
Due: none

Fix E0282 type annotation errors in rust_structured_extractor
  Cargo.toml
  rust_structured_extractor.rs
Due: cargo-check, cargo-test

Fix E0599: Add audit_function method
  audited_automorphic_system.rs
Due: cargo-check, cargo-test

Fix E0433: Convert example_patched_code to example
  Cargo.toml
Due: none

Fix E0308 mismatched types errors
  audited_automorphic_system.rs
Due: cargo-check, cargo-test

Fix top 3 error types
  Cargo.toml
  markov_with_storage.rs
  multi_repo_extractor.rs
Due: cargo-check, cargo-test

Move experimental security demo to examples
  Cargo.toml
  examples/llm_git_demo.rs
Due: cargo-check, cargo-test

Move custom clippy lint to clippy-lints/
  Cargo.toml
  clippy-lints/dead_code_eliminator.rs
Due: cargo-check, cargo-test

Fix Cargo.toml: remove empty [[bin]] entries
  Cargo.toml
Due: none

Fix E0282: Add type annotation to std::mem::take
  p2p_server.rs
  scripts/capture_build_log.sh
Due: shellcheck, cargo-check, cargo-test, lattice-validation

Add comprehensive FIXME report documenting disabled features and next steps
  FIXME_REPORT.md
Due: none

Update nix build to install all 8 binaries
  default.nix
Due: none

Successfully configure nix build for all 8 binaries
  Cargo.toml
  NIX_BUILD_SUCCESS.md
  default.nix
  flake.lock
  flake.nix
Due: none

Add client telemetry API, static server, and WASM plugin deployment
  src/client_telemetry.rs
  src/lib.rs
  src/static_server.rs
  src/web.rs
  www/index.html
  www/solana_p2p_plugin.d.ts
  www/solana_p2p_plugin.js
  www/solana_p2p_plugin_bg.wasm
  www/solana_p2p_plugin_bg.wasm.d.ts
Due: cargo-check, cargo-test

Path conditions:
  shellcheck: any of: \.sh$
  cargo-check: any of: \.rs$
  cargo-test: any of: \.rs$
  lattice-validation: any of: \.sh$
